:root{
    --cor-primaria: #000;
    --cor-secundaria: #E3A600; 
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor-secundaria);
    
    
}

body{
    background-image: url(../assets/imgs/fundo.png);
}

.header{
    width: 100%;
    height: 5%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 500;
}

.header nav{
    width: 100%;
    padding: 1%;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    
}

.header li{
    margin: 0 2%;
}

.header li:first-child{
    margin-right: auto;
}

.header a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.header img{
    width: 10vw;
    height: auto;
}

.container {
    margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 40%;
  background-color: var(--cor-primaria);
  border: solid 3px var(--cor-secundaria);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  flex-direction: column;
  height: 60vh;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 2rem;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  color: var(--cor-primaria);
  border: 2px solid var(--cor-secundaria);
  text-align: center;
  margin: 0;
  height: 2rem;
  border-radius: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: solid 3px var(--cor-secundaria);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.botao:hover{
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
}

.header a:hover{
  border-bottom: solid 2px var(--cor-secundaria);
}