:root{
    --cor-secundaria: #E3A600;
    --cor-primaria: #2b2b2b;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    font-size: 16px;
    background-image: url(../assets/imgs/fundo.png);

}

header{
    display: flex;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    position: sticky;  
    width: clamp(180px, 15%, 250px); 
    height: 100vh;
    top: 0;
    flex-shrink: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

header #header-left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: var(--espacamento-md);
    padding-top: var(--espacamento-lg);
    
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    height: 50%;
    width: 100%;
}

header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%
}

header nav ul li{
    margin: 70% 0;
    list-style: none;
    width: 20%;
    
}

header nav ul li a{
    text-decoration: none;
    background-color: var(--cor-primaria);
    border: solid 2px var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 70%;
    width: 40%;
    font-size: 1.5rem;
}

header img{
    width: 85%;
    margin-top: 10%;
    padding: 15%;
}

main{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards-kpi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin-bottom: 1vw;
}

section h1{
    color: var(--cor-secundaria);
}

.card{
    width: 15%;
    height: 60%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 4px var(--cor-secundaria);

}

.resultado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vw;
}

.personagem{
    background-color: var(--cor-primaria);
    width: 25vw;
    height: 55vh;
    border: solid 4px var(--cor-secundaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3%;

    
}

.personagem img{
    width: 25vw;
    height: 45vh;
    border: solid 4px var(--cor-secundaria);

}

.grafico{
    padding: 5%;
    width: 30vw;
    height: 55vh;
    background-color: var(--cor-primaria);
    border: solid 4px var(--cor-secundaria);

}

.descricao_patente{
    padding: 5%;
    width: 90%;
    height: 10vh;
    background-color: var(--cor-primaria);
    border: solid 4px var(--cor-secundaria);
    color: var(--cor-secundaria);
    font-size: 1rem;
}
