:root{
    --cor-primaria: #000;
    --cor-secundaria: #E3A600; 
    --background: ;
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor-secundaria);
    
    
}

body{
    background-image: url(../assets/imgs/fundo.png);
}

.header{
    width: 100%;
    height: 5%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 500;
}

.header nav{
    width: 100%;
    padding: 1%;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    
}

.header li{
    margin: 0 2%;
}

.header li:first-child{
    margin-right: auto;
}

.header a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.header img{
    width: 10vw;
    height: auto;
}


.container1{
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.container1 h2{
   margin-bottom: 5%;
   font-size: 2rem;
}

.container1 p{
    font-size: 1.5rem;
    font-weight: 500;
}


.container2{
    margin-top: -5px;
    padding:5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.card-filme{
    margin: 5% 0%;
    display: flex;
    flex-direction: row;
    background-color: #000008;
    border: solid 2px var(--cor-secundaria);

}

.card-filme div{
    padding: 5%;
}

.card-filme p{
    font-size: 1.2rem;
    padding: 1%;
}

.card-filme img{
    padding: 5% 0%;
    width: 15rem;
}

.card-filme h2{
    margin-bottom: 3%;
}
.card-filme h4{
    margin: 3% 0%
}


