:root{
    --cor-primaria: #000;
    --cor-secundaria: #E3A600; 
    --background: ;
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor-secundaria);
    
    
}

body{
    background-image: url(../assets/imgs/fundo.png);
}

.header{
    width: 100%;
    height: 5%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 500;
}

.header nav{
    width: 100%;
    padding: 1%;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    
}

.header li{
    margin: 0 2%;
}

.header li:first-child{
    margin-right: auto;
}

.header a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.header img{
    width: 10vw;
    height: auto;
}

/* --------------------------------------------------------------Final da header------------------------------------------------------------------- */

.video{
    pointer-events: none;
    width: 100%;
}

.video img{
    width: 100%;
}

.container1{
    margin-top: -5px;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.container1 h2{
   margin-bottom: 5%;
   font-size: 2rem;
}

.container1 p{
    font-size: 1.5rem;
    font-weight: 500;
}

.container1 img{
    width: 80%;
    padding-left: 10%;
}

.container2{
    margin-top: -5px;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.container2 h2{
   margin-bottom: 5%;
   font-size: 2rem;
}

.container2 h3{
   margin-bottom: 3%;
   font-size: 1.5rem;
}

.container2 p{
    font-size: 1.5rem;
    font-weight: 500;
}

.filho-container2 img{
    padding: 1% 10%;
    width: 70vw;
    height: 70vh;
}

.filho-container2{
    margin-bottom: 5%;
}

.img-motivo{
    width: 50vw;
    padding: 1% 20% 1%;
    margin-bottom: 5;
}

.container3{
    margin-top: -5px;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.container3 h2{
   margin-bottom: 5%;
   font-size: 2rem;
}

.container3 p{
    font-size: 1.5rem;
    font-weight: 500;
}

.container3 img{
    width: 30vw;
    padding: 2% 35% ;
}


.desenvolvedor{
    margin: 5%;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-primaria);
    border: solid 5px var(--cor-secundaria);
}

.desenvolvedor h2{
    margin-bottom: 3%;
   font-size: 1.5rem;
}

.desenvolvedor p{
    font-size: 1.1rem;
    font-weight: 500;
}

.sobre-mim{
    width: 50%;
    padding: 7%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.foto{
    width: 50%;
    padding: 7% 15%;
    
}

.foto img{
  width: 90%;
  border: solid 5px var(--cor-secundaria);
}

.footer{
    margin-top: 10%;
    width: 100%;
    height: 10vw;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contatos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.contatos ul li{
   margin: 0 2%;
}

.contatos a{
     text-decoration: none;
}

.footer p{
    margin-left: 45%
}